*{
    margin: 0;
    padding: 0;
}
.primary-button{
    padding: 12px 20px;
    background-color: #E55473;
    border-radius: 5px;
    color: white;
    border: none;
}
/* Header Section */
.header-section{
    background-color: #fceef1;
    width: 100vw;
}
.header-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 100px;

}
.header-details{
    width: 50%;
}
.header-title{
    font-size: 45px;
}
.header-description{
    font-size: 18px;
    padding: 20px 0;
}
.header-image{
    width: 455px;
    height: 550px;
}
/* Features section */
.features-section{
    margin-top: 100px;
}
.feature-details{
    width: 40vw;
    padding: 20px 100px;
    margin: auto;
    
}
.feature-title{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    
}
.feature-description{
    font-size: 16px;
    padding-top: 24px;
    text-align: center;
}
.features-cards{
    width: 70%;
    margin: auto;
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}
.cards-container{
    width: 300px;
    height: 330px;
}
.card{
    
    background-color:#f2dee7;
    border-radius: 45% 45% 0 0;
    padding: 30px 40px;
    
}
.card-image{
    width: 100%;
    height: 300px;
}
.flower-name{
    text-align: center;
    margin-top: 10px;
}

.card2-color{
    background-color: #d9eff1;
}
.card3-color{
    background-color: #e3ebdb;
}

/* Delivery section */
.delivery-section{
    width: 65%;
    margin:100px auto;
    background-color: rgba(163, 163, 163, 0.651);
    border-radius: 5px;
    padding: 50px 25px;
    
}
.delivery-cards{
    display: flex;
    justify-content: space-around;
}
.delivery-image{
    width: 70px;
    display: block;
    margin: auto;
}
.delivery-details{
    text-align: center;
    margin-top: 15px;
}
/* deal section */
.deal-container{
    background-color: #f2dee7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}
.deal-details{
    width: 50%;
    margin: auto;
    
}
.deal-title{
    font-size: 25px;
    text-align: center;
}
.deal-save{
    color: red;
}
.deal-description{
    font-size: 18px;
    padding: 25px 40px;
    text-align: center;
    width: 80%;
    margin: auto;
}
.deal-image{
    width: 400px;
    height: 500px;
}
.deal-img{
    width: 300px;
    height: 380px;
    padding-top: 80px;
}
.deal-btn{
    display: block;
    margin: auto;
}
/* instagram section */
.instagram-section{
    margin: 50px 0;
}
.insta-title{
    font-size: 30px ;
    font-weight: bold;
    text-align: center;
}
.insta-description{
    font-size: 20px ;
    text-align: center;
    width: 40%;
    margin: auto;
    padding: 20px;
}
.flower-cards{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 50px;
}
.flower-card{
    width: 230px;
    height: 280px;
    
}

.flower-card-img{
    width: 100%;
    
}
/* Latest deals */
.latest-deals-container{
    width: 70%;
    margin: auto;
}
.latest-deals{
    width: 100%;
    height: 280px;
    border: 1px solid black;
    background-image: url('images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.deals-details{
    width: 70%;
    margin: auto;
}
.deals-title{
    font-size: 30px;
    text-align: center;

}
.deals-description{
    font-size: 20px;
    padding: 15px 0px;
    text-align: center;
    
}
input[type = "text"]{
    padding: 9px 8px;
    width: 400px;
    margin-left: 80px;
}
/* footer */
footer{
    background-color: black;
    width: 100vw;
    margin-top: 50px;
}
.footer-details{
    width: 50%;
    margin: auto;
    color: white;
    padding: 50px 30px;
}
.footer-title{
    font-size: 35px;
    text-align: center;
}
.footer-flower{
    color: red;
}
.footer-description{
    text-align: center;
    font-size: 18px;
    padding: 15px 0;
    line-height: 30px;
}
.footer-copyright{
    text-align: center;
    color: grey;
}