*{
    margin: 0;
    padding: 0;
}
.primary-button{
    padding: 12px 20px;
    background-color: #E55473;
    border-radius: 5px;
    color: white;
    border: none;
}
/* Header Section */
.header-section{
    background-color: #fceef1;
    width: 100vw;
}
.header-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 100px;

}
.header-details{
    width: 50%;
}
.header-title{
    font-size: 45px;
}
.header-description{
    font-size: 18px;
    padding: 20px 0;
}
.header-image{
    width: 455px;
    height: 550px;
}